<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Consultant"
        tools:targetApi="31">
        <activity
            android:name=".card1"
            android:exported="false" />
        <activity
            android:name=".myfirstpage"
            android:exported="false" />
        <activity
            android:name=".userinfo"
            android:exported="false" />
        <activity
            android:name=".rateus"
            android:exported="false" />
        <activity
            android:name=".consulthelp"
            android:exported="false" />
        <activity
            android:name=".d9"
            android:exported="false" />
        <activity
            android:name=".d8"
            android:exported="false" />
        <activity
            android:name=".d7"
            android:exported="false" />
        <activity
            android:name=".d6"
            android:exported="false" />
        <activity
            android:name=".d5"
            android:exported="false" />
        <activity
            android:name=".d4"
            android:exported="false" />
        <activity
            android:name=".d3"
            android:exported="false" />
        <activity
            android:name=".d2"
            android:exported="false" />
        <activity
            android:name=".d1"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".consultant" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".appointment"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration_page"
            android:exported="false" />
        <activity
            android:name=".drawer_DB"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>